
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  height: 100%;
  position: relative;
}
.leftBar{
  position: absolute;
  left: 0;
  width: 30%;
  background: #f0f7fa;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBox{
  width: 260px;
  padding: 1rem 2rem;
  border: 1px solid #c6cacc;
  border-radius: 10px;
  color: #666;
  background: #fff;
}
.loginBoxTitle{
  padding: 0.8rem;
  font-size: 2rem;
}
.loginBoxInput{
  margin: 2rem;
}
.loginBoxBtn{
  margin-top: 3rem;
}
.dragBar{
  position: absolute;
  left: 30%;
  width: 10px;
  height: 100%;
  background: #bdbdbd;
}
.dragBar:hover{
   cursor: e-resize;
 }
.rightBar{
  position: absolute;
  right: 0;
  width: calc(70% - 10px);
  background: #f0f7fa;
  height: 100%;
}
